<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>{{ page.title }}</title>
  <meta content='application/xhtml+xml; charset=utf-8' http-equiv='Content-Type' />
  {% assign steps = page.dir | remove_first: '/' |  split: '/' %}
  {% for step in steps %}
    {% assign path_to_root = path_to_root | append: '..' %}
  {% endfor %}
  {% assign path_to_root = path_to_root | remove_last: '/' %}
  <link rel='stylesheet' type='text/css'  href='{{ path_to_root }}/stylesheets/{{ page.style }}.css'/>
</head>
<body class='{{ page.body }}'>
{{ content }}
</body>
</html>
